<div class="center">
  問.&emsp;<%= @exam.question %>
  </br>
  <%= form_tag exams_result_path do %>
    <%= radio_button_tag @exam.firstselect, @exam.firstselect, false %>&nbsp;<%= @exam.firstselect %>&emsp;
    <%= radio_button_tag @exam.secondselect, @exam.secondselect, false %>&nbsp;<%= @exam.secondselect %>&emsp;
    <%= radio_button_tag @exam.thirdselect, @exam.thirdselect, false %>&nbsp;<%= @exam.thirdselect %>&emsp;
    <%= radio_button_tag @exam.fourthselect, @exam.fourthselect, false %>&nbsp;<%= @exam.fourthselect %>
    </br>
    <%= submit_tag '回答する' %>
  <% end %>
</div>
