<div class="center">
  問.&emsp;<%= @exam.question %>
  </br>
  </br>
  <%= form_tag exams_result_path do %>
    <%= radio_button_tag(:select, @exam.firstselect) %>&nbsp;<%= @exam.firstselect %>&emsp;
    <%= radio_button_tag(:select, @exam.secondselect) %>&nbsp;<%= @exam.secondselect %>&emsp;
    <%= radio_button_tag(:select, @exam.thirdselect) %>&nbsp;<%= @exam.thirdselect %>&emsp;
    <%= radio_button_tag(:select, @exam.fourthselect) %>&nbsp;<%= @exam.fourthselect %>
    </br>
    </br>
    <%= submit_tag '回答する' %>
  <% end %>
</div>
